@import "../../app/components/bootstrap/less/bootstrap";

html{
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

html.activeMenu {
  padding-left: 300px;
  #menu {
    left: 0;
  }
}

body {
  background-color: #ccc;
  padding: 40px 20px 20px;
}

#content {
  background: #fff;
  border: 1px solid #d5d5d5;
  margin-top: 20px;
  padding: 20px;
}

#toolbar {
  background: #369;
  height: 40px;
  line-height: 20px;
  padding: 10px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  > .title {
    float: left;
    > .userAva {
      display: inline-block;
      width: 20px;
      > img {
        width: 100%;
      }
    }
  }
  > .menu {
    float: left;
    margin-right: 10px;
    cursor: pointer;
  }
  > .login_button {
    float: right;
    color: #333;
  }
}

#menu {
  width: 300px;
  background: #369;
  color: #fff;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: -300px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  &.active {
    left: 0;
  }
  a {
    color: #fff;
  }
}

#page-view {
  padding: 20px;
}

#users-grid {
  .item {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    .box-shadow(2px 2px 5px 0px rgba(50, 50, 50, 0.75));
    > .uid {
      display: none;
    }
    
    > .photo {
      cursor: pointer;
      position: relative;
      width: 100%;
      > img {
        width: 100%;
      }
      > .fullname {
        display: none;
        position: absolute;
        padding: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        font-size: 12px;
        background: #fff;
        -moz-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms;
      }
      &:hover {
        > .fullname {
          display: block;
          -moz-transition: all 300ms;
          -webkit-transition: all 300ms;
          transition: all 300ms;
        }
      }
    }
  }
}









