<div id="users-grid">
    {{#each users}}
    <div class="item">
        <div class="uid">{{ uid }}</div>
        <div class="photo">
            <img src="{{ photo }}" />
            <div class="fullname">{{ first_name }} {{ last_name }}</div>
        </div>
        <div class="status{{#if online}} online{{/if}}"></div>
    </div>
    {{else}}
        <div>List Empty</div>
    {{/each}}
</div>