@import "../../app/components/bootstrap/less/bootstrap";

body {
  background-color: #ccc;
}
#wrapper {
  margin-top: 20px;
  background-color: #fff;
  #page-content{
    .make-row();
    article {
      .make-md-column(8);
    }
    aside {
      .make-md-column(4);
    }
  }
}

#basket-link {
  cursor: pointer;
}

#basket-holder {
  .clear {
    color: #369;
    cursor: pointer;
  }
}

.product-list{
  padding-left: 15px;
  padding-right: 15px;
  .product{
    border: 1px solid #369;
    padding: 10px;
    margin-bottom: 10px;
  }
}

